.entry {
  @include clearfix();

  margin-bottom: 2rem;
  padding-bottom: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  a {
    color: inherit;
  }
}

.entry-title {
  @include fluid-type($min-vw, $max-vw, 18px, 24px);

  color: var(--accent-color);
  line-height: inherit;
  margin-bottom: 0.5rem;

  a {
    text-decoration: none;
  }
}

.entry-image {
  margin-bottom: 1rem;
  width: 100%;
}

.entry-meta {
  @include fluid-type($min-vw, $max-vw, 12px, 16px);

  margin-bottom: 1rem;

  ul {
    @include list-unstyled();

    @media (max-width: $medium) {
      li {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    @media (min-width: $medium) {
      li {
        padding-bottom: 0.5rem;
      }
    }
  }

  a {
    color: inherit;
  }

  .byline-item {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  .icon {
    fill: var(--accent-color);
    margin-right: 0.5em;
  }
}

.entry-content {
  > p:first-child {
    font-size: 1.125em;
    line-height: 1.625;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
  }
}

.entries-list {
  .entry-title {
    word-wrap: break-word;

    a:hover {
      color: var(--accent-color);
    }
  }

  .entry-excerpt {
    @media (min-width: $medium) {
      width: span(11 of 16);
    }

    /* normalize font sizes */
    > * {
      font-size: 1em;
    }

    /* remove psace after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-content {
    @media (min-width: $medium) {
      width: span(11 of 16);
    }

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-meta {
    @media (min-width: $medium) {
      float: right;
      padding-left: gutter(1 of 16);
      width: span(5 of 16 last);
    }
  }

  > .summary {
    > p:first-child {
      font-size: 1.125em;
      line-height: 1.625;
    }
  }
}

.more-link {
  font-size: 75%;
  font-weight: bold;
  text-decoration: none;
}

.entries-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);

    order: 1;
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * { /* stylelint-disable-line no-descending-specificity */
      font-size: 1em;
    }
  }

  .entry-excerpt,
  .entry-content {
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-meta {
    font-size: 0.75em;
    margin-bottom: 1em;
    order: 2;

    ul {
      li {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }
  }

  .more-link {
    margin-top: -1em;

    a { /* stylelint-disable-line no-descending-specificity */
      text-decoration: none;
    }
  }
}

.footnotes {
  border-top: 1px solid var(--border-color);
  font-size: 80%;
  margin: 2rem 0;
  padding-top: 1rem;
}
