/* Breakpoint widths */
$small: 320px !default;
$medium: 768px !default;
$large: 1024px !default;
$xlarge: 1280px !default;

/* Fluid type */
$base-font-size: 16px !default;
$min-vw: $small !default;
$max-vw: $xlarge !default;
$min-font-size: 14px !default;
$max-font-size: 18px !default;

$modular-scale-1: 1.067 !default; /* small */
$modular-scale-2: 1.296 !default; /* large */

$h1-min: $modular-scale-1 * $modular-scale-1 * $modular-scale-1 *
  $modular-scale-1 * $base-font-size !default;
$h1-max: $modular-scale-2 * $modular-scale-2 * $modular-scale-2 *
  $modular-scale-2 * $base-font-size !default;
$h2-min: $modular-scale-1 * $modular-scale-1 * $modular-scale-1 *
  $base-font-size !default;
$h2-max: $modular-scale-2 * $modular-scale-2 * $modular-scale-2 *
  $base-font-size !default;
$h3-min: $modular-scale-1 * $modular-scale-1 * $base-font-size !default;
$h3-max: $modular-scale-2 * $modular-scale-2 * $base-font-size !default;
$h4-min: $modular-scale-1 * $base-font-size !default;
$h4-max: $modular-scale-2 * $base-font-size !default;
$h5-min: $base-font-size !default;
$h5-max: $base-font-size !default;
$h6-min: ($base-font-size / $modular-scale-1) !default;
$h6-max: ($base-font-size / $modular-scale-2) !default;

$sidebar-width: $small !default;

$intro-image-color-overlay: false !default;

$border-radius: 0.25em !default;

$global-transition: all 0.4s ease !default;

$navicon-width: 1.75em !default;
$navicon-height: 0.25em !default;
$navicon-duration: 0.5s !default;
$navicon-toggled-size: 1 !default;
$navicon-content-bg: var(--text-color) !default;

$site-image-width: 50px !default;
$site-image-height: 50px !default;
