:root {
  --base00: #1c2023;
  --base01: #393f45;
  --base02: #565e65;
  --base03: #747c84;
  --base04: #adb3ba;
  --base05: #c7ccd1;
  --base06: #dfe2e5;
  --base07: #f3f4f5;
  --base08: #c7ae95;
  --base09: #c7c795;
  --base0a: #aec795;
  --base0b: #95c7ae;
  --base0c: #95aec7;
  --base0d: #ae95c7;
  --base0e: #c795ae;
  --base0f: #c79595;
}
